HELP.md
.gradle
build/
src/main/resources/stt-google.json
src/main/test
#jwt secret 키가 저장되어 있기 때문에 깃 추적에서 제외
src/main/java/com/cnu/teamProj/teamProj/security/SecurityConstants.java
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
#application.properties


.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
#**/src/main/java/com/cnu/teamProj/teamProj/security/SecurityConstants.java
#.env 파일 제거
.env
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

